body {
  font-family: 'Dosis', sans-serif;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  background-color: #c2dae2;
  width: 100%;
  height: 4em;
}

.headerDiv h1 {
  font-weight: 500;
}

#container .panel {
  height: 100%;
  width: 19%;
}

#logo {
  height: 100%;
  width: 60%;
  text-align: center;
}

#basket {
  text-align: right;
}

#product-list {
  height: 25em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

#product-list .product {
  margin: 1em;
  display: inline-block;
  height: 10em;
  width: 10em;
  border: 0.001em solid;
}
