body {
  font-family: 'Dosis', sans-serif;
}
#container {
  background-color: #e5e5e5;
  height: 100%;
}
.headerDiv {
  display: flex;
  flex-direction: row;
  background-color: #c2dae2;
  width: 100%;
  height: 4em;
}

.headerDiv h1 {
  font-weight: 500;
}

#container .panel {
  height: 100%;
  width: 20%;
}

#logo {
  height: 100%;
  width: 60%;
  text-align: center;
}

#logo a {
  text-decoration: none;
  color: black;
}

#basket {
  text-align: right;
}

.panel img {
  width: auto;
  margin: 0.5em;
}

#display {
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  text-align: center;
  background-color: #ffffff;
}

/* #product-list {
  display: inline-block;
} */

#product-list .product {
  display: inline-block;
  margin: 1em;
  height: 12em;
  width: 10em;
  border: 0.001em solid;
}

.product img {
  width: 6em;
  margin-top: 0.75em;
}
