body {
  font-family: 'Dosis', sans-serif;
}
#container {
  background-color: #e5e5e5;
  height: 100%;
}
.headerDiv {
  display: flex;
  flex-direction: row;
  background-color: #c2dae2;
  width: 100%;
  height: 4em;
}

.headerDiv h1 {
  font-weight: 500;
}

#container .panel {
  height: 100%;
  width: 20%;
}

#logo {
  height: 100%;
  width: 60%;
  text-align: center;
}

#logo a {
  text-decoration: none;
  color: black;
}

#basket {
  text-align: right;
}

.panel img {
  width: auto;
  margin: 0.5em;
}

#display {
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  text-align: center;
  background-color: #ffffff;
}

#display #my-basket {
  min-height: 30em;
}

#product-list .product {
  display: inline-block;
  margin: 1em;
  height: 12em;
  width: 10em;
  border: 0.001em solid;
}

.product img {
  width: 6em;
  margin-top: 0.75em;
}

#my-basket h1 {
  display: inline-flex;
}

#my-basket .item-list {
  border: 1px solid black;
  min-height: 10em;
  height: auto;
  width: 80%;
  margin-left: 10%;
}

#my-basket .item-div {
  border: 1px solid;
  height: 6em;
  line-height: 6em;
  display: flex;
  flex-direction: row;
}

#my-basket .item-panel {
  width: 25%;
}

.item-panel input[type="number"] {
  width: 5em;
}

.quantity-label {
  line-height: 3em;
}

.quantity-icons {
  line-height: 2em;
  display: flex;
}

.quantity-icons .split {
  width: 50%;
}

.quantity-icons .split img {
  width: 2em;
}

#my-basket .item-description {
  width: 50%;
}

#my-basket .checkout {
  width: 10em;
  height: 5em;
  border-radius: 1em;
  margin: 1em;
  background-color: #24b500;
}
